# Environment variables
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# Build artifacts
build/
dist/
*.egg-info/

# Test artifacts
.pytest_cache/
.coverage
htmlcov/

# OS-specific files
.DS_Store
Thumbs.db

# Editor/IDE specific
.vscode/
.idea/

# Swap files
*.swp
*.swo
